.smartpay-payment {
	.payment-modal {
		.modal-content {
			border: none;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
			min-height: 370px;
			padding: 20px;

			.modal-header {
				margin-bottom: 20px;
				border: 0;
				padding: 0;
			}

			.modal-body {
				display: flex;
				justify-content: center;
				overflow: hidden;

				.payment-modal--errors {
					.alert {
						padding: 8px 15px;
						margin-bottom: 10px;
						font-size: 14px;
					}
				}

				form {
					.form-group {
						margin-bottom: 15px;
					}
				}
			}

			.step-2 {
				display: none;
			}

			.back-to-first-step {
				display: none;
			}

			.modal-close,
			.back-to-first-step {
				margin: -4px;
				padding: 0;
				position: absolute;
				top: 20px;

				svg {
					color: #5d5d5d;
				}
			}

			.modal-close {
				right: 20px;
			}

			.back-to-first-step {
				left: 20px;
			}

			.modal-loading {
				position: absolute;
				background-color: rgba(245, 245, 245, 0.65);
				z-index: 1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				min-height: 100px;
				display: none;
			}
		}

		&--small-title {
			color: #888;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: normal;
			text-align: center;
		}

		&--title {
			color: #252a2e;
			font-size: 22px;
			line-height: 26px;
			font-weight: bold;
			text-align: center;
		}

		&--subtitle {
			text-align: center;
			margin-top: 10px;
			margin-bottom: 20px;
			font-size: 15px;
			color: #888;
		}

		&--gateway {
			text-align: center;

			.single-gateway {
				color: #252a2e;
				font-size: 18px;
			}

			&--label {
				color: $secondary;
			}

			.gateways {
				margin-bottom: 20px !important;
				flex-wrap: wrap;

				.gateway {
					flex: 0 1 33.3%;
					display: flex;

					&--label {
						height: 38px;
						cursor: pointer;
						border: 1px solid #ced4da;
						border-radius: 4px;
						padding: 3px;
						width: 100%;
						flex-wrap: wrap;
						margin: 3px;

						img {
							max-height: 100%;
							width: auto;
						}
					}

					input[type='radio']:checked + label {
						box-shadow: 0 0 0 1px #28a745;
					}
				}
			}
		}

		&--user-info {
			.form-control {
				font-size: 16px;
				height: 38px;
				padding: 5px 10px;
				border-radius: 4px;
			}
		}
	}

	button.open-payment-form,
	button.smartpay-pay-now {
		font-size: 16px;
		padding: 6px 10px;
		border-radius: 4px;
	}

	.overlay {
		background: rgba(255, 255, 255, 0.9);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: none;
	}

	.modal-dialog {
		max-width: 370px;
	}

	.modal-backdrop {
		background-color: #8e8e8e !important;
	}
}
