/.idea
/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/temp

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/adminer.php
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
.vapor/
.env.production
.env.staging
.DS_Store