#payment_form{
    color:red;
    .product-price{
        .product-variations{
            .variation-short-description{
                font-size:16px;
                color:$primary;
            }
        }
    }
}