/**
 * Colors
 */

/**
 * Deprecated colors.
 * Please avoid using these.
 */

/**
 * Colors
 */

/**
 * Deprecated colors.
 * Please avoid using these.
 */

/**
 * Fonts & basic variables.
 */

/**
 * Grid System.
 * https://make.wordpress.org/design/2019/10/31/proposal-a-consistent-spacing-system-for-wordpress/
 */

/**
 * Dimensions.
 */

/**
 * Shadows.
 */

/**
 * Editor widths.
 */

/**
 * Block UI.
 */

/**
 * Border radii.
 */

/**
 * Block paddings.
 */

/**
 * Breakpoint mixins
 */

/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */

/**
 * Focus styles.
 */

/**
 * Applies editor left position to the selector passed as argument
 */

/**
 * Styles that are reused verbatim in a few places
 */

/**
 * Allows users to opt-out of animations via OS-level preferences.
 */

/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */

/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */

/**
 * Breakpoints & Media Queries
 */

.smartpay-block-editor-header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
}

@media (min-width: 600px) {
  .smartpay-block-editor-header {
    padding: 24px;
    position: fixed;
    top: 46px;
  }
}

@media (min-width: 782px) {
  .smartpay-block-editor-header {
    top: 32px;
  }
}

.smartpay-block-editor-header {
  /* Set left position when auto-fold is not on the body element. */
  left: 0;
}

@media (min-width: 783px) {
  .smartpay-block-editor-header {
    left: 160px;
  }
}

.auto-fold .smartpay-block-editor-header {
  /* Auto fold is when on smaller breakpoints, nav menu auto collapses. */
}

@media (min-width: 783px) {
  .auto-fold .smartpay-block-editor-header {
    left: 36px;
  }
}

@media (min-width: 961px) {
  .auto-fold .smartpay-block-editor-header {
    left: 160px;
  }
}

/* Sidebar manually collapsed. */

.folded .smartpay-block-editor-header {
  left: 0;
}

@media (min-width: 783px) {
  .folded .smartpay-block-editor-header {
    left: 36px;
  }
}

/* Mobile menu opened. */

@media (max-width: 783px) {
  .auto-fold .wp-responsive-open .smartpay-block-editor-header {
    left: 190px;
  }
}

/* In small screens with responsive menu expanded there is small white space. */

@media (max-width: 600px) {
  .auto-fold .wp-responsive-open .smartpay-block-editor-header {
    margin-left: -18px;
  }
}

body.is-fullscreen-mode .smartpay-block-editor-header {
  left: 0 !important;
}

.smartpay-block-editor-header__title {
  font-size: 16px;
  padding: 0 20px;
}

.smartpay-block-editor-sidebar {
  background: #fff;
  border-left: 1px solid #ddd;
  bottom: 0;
  color: #1e1e1e;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 280px;
  z-index: 100000;
}

@media (min-width: 600px) {
  .smartpay-block-editor-sidebar {
    -webkit-overflow-scrolling: touch;
    height: auto;
    overflow: auto;
    top: 106px;
  }
}

@media (min-width: 782px) {
  .smartpay-block-editor-sidebar {
    top: 92px;
  }
}

@media (min-width: 600px) {
  .smartpay-block-editor-sidebar {
    display: block;
  }
}

.smartpay-block-editor-sidebar > .components-panel {
  border-left: 0;
  border-right: 0;
  margin-bottom: -1px;
  margin-top: -1px;
}

.smartpay-block-editor-sidebar > .components-panel > .components-panel__header {
  background: #ddd;
}

.smartpay-block-editor-sidebar .block-editor-block-inspector__card {
  margin: 0;
}

.smartpay-block-editor__block-list {
  padding-bottom: 48px;
  padding-top: 53px;
  margin-left: auto;
  margin-right: auto;
}

.smartpay-block-editor__block-list .block-editor-block-list__block {
  margin-left: auto;
  margin-right: auto;
}

.smartpay-block-editor__block-list .wp-block {
  max-width: 580px;
}

html.wp-toolbar {
  background: #fff;
}

body.block-editor-page {
  background: #fff;
  /* We hide legacy notices in Gutenberg Based Pages, because they were not designed in a way that scaled well.
     Plugins can use Gutenberg notices if they need to pass on information to the user when they are editing. */
}

body.block-editor-page #wpcontent {
  padding-left: 0;
}

body.block-editor-page #wpbody-content {
  padding-bottom: 0;
}

body.block-editor-page #wpbody-content > div:not(.block-editor):not(#screen-meta) {
  display: none;
}

body.block-editor-page #wpfooter {
  display: none;
}

body.block-editor-page .a11y-speak-region {
  left: -1px;
  top: -1px;
}

body.block-editor-page ul#adminmenu a.wp-has-current-submenu::after,
body.block-editor-page ul#adminmenu > li.current > a.current::after {
  border-right-color: #fff;
}

body.block-editor-page .media-frame select.attachment-filters:last-of-type {
  width: auto;
  max-width: 100%;
}

.smartpay-form-block-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: calc(100vh - 32px);
}

.editor-styles-wrapper {
  width: 100%;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  line-height: 1.8;
  color: #1e1e1e;
  /**
   * Editor Normalization Styles
   *
   * These are only output in the editor, but styles here are prefixed .editor-styles-wrapper and affect the theming
   * of the editor by themes.
   * Why do these exist? Why not rely on browser defaults?
   * These styles are necessary so long as CSS can bleed from the wp-admin into the editing canvas itself.
   * Let's continue working to refactor these away, whether through Shadow DOM or better scoping of upstream styles.
   */
  /* Headings */
}

@media (min-width: 600px) {
  .editor-styles-wrapper {
    width: calc(100% - 280px);
  }
}

.editor-styles-wrapper body {
  font-family: "Noto Serif", serif;
  font-size: 16px;
  line-height: 1.8;
  color: #1e1e1e;
  padding: 10px;
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align=full] {
  margin-left: -10px;
  margin-right: -10px;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3 {
  line-height: 1.4;
}

.editor-styles-wrapper h1 {
  font-size: 2.44em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.editor-styles-wrapper h2 {
  font-size: 1.95em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.editor-styles-wrapper h3 {
  font-size: 1.56em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.editor-styles-wrapper h4 {
  font-size: 1.25em;
  line-height: 1.5;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.editor-styles-wrapper h5 {
  font-size: 1em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.editor-styles-wrapper h6 {
  font-size: 0.8em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
  color: inherit;
}

.editor-styles-wrapper p {
  font-size: inherit;
  line-height: inherit;
  margin-top: 28px;
  margin-bottom: 28px;
}

.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
  margin-bottom: 28px;
  padding-left: 1.3em;
  margin-left: 1.3em;
}

.editor-styles-wrapper ul ul,
.editor-styles-wrapper ul ol,
.editor-styles-wrapper ol ul,
.editor-styles-wrapper ol ol {
  margin-bottom: 0;
}

.editor-styles-wrapper ul li,
.editor-styles-wrapper ol li {
  margin-bottom: initial;
}

.editor-styles-wrapper ul {
  list-style-type: disc;
}

.editor-styles-wrapper ol {
  list-style-type: decimal;
}

.editor-styles-wrapper ul ul,
.editor-styles-wrapper ol ul {
  list-style-type: circle;
}

.editor-styles-wrapper .wp-align-wrapper {
  max-width: 580px;
}

.editor-styles-wrapper .wp-align-wrapper > .wp-block,
.editor-styles-wrapper .wp-align-wrapper.wp-align-full {
  max-width: none;
}

.editor-styles-wrapper .wp-align-wrapper.wp-align-wide {
  max-width: 1100px;
}

.editor-styles-wrapper a {
  transition: none;
}

.editor-styles-wrapper code,
.editor-styles-wrapper kbd {
  padding: 0;
  margin: 0;
  background: inherit;
  font-size: inherit;
  font-family: monospace;
}

.smartpay-form-block-editor,
.components-modal__frame {
  box-sizing: border-box;
}

.smartpay-form-block-editor *,
.smartpay-form-block-editor *::before,
.smartpay-form-block-editor *::after,
.components-modal__frame *,
.components-modal__frame *::before,
.components-modal__frame *::after {
  box-sizing: inherit;
}

