.smartpay-form-shortcode {
    position: relative;

    .form {
        .form-element {
            margin-bottom: 16px;
        }
        .form-control {
            font-size: 16px;

            &:focus {
                color: #000000;
            }
        }

        textarea.form-control {
            min-height: calc(1.5em + 0.75rem + 2px);
        }

        &--amount-section {
            transition: all 0.3s ease;

            .form--fixed-amount {
                border-radius: 0.25rem;
            }

            .amount {
                cursor: pointer;
                transition: all 0.05s ease-in-out;
                padding: 5px 12px;
                display: inline-block;
                font-size: 16px !important;
                border: 1px solid #ced4da;
                background: #fff;
                overflow: hidden;
                color: #252a2e;
                font-weight: normal;
                font-family: inherit !important;

                &--title {
                    font-size: 16px;
                    font-family: inherit;
                }

                label {
                    cursor: pointer;
                }

                &.selected {
                    // box-shadow: 0 0 0 1px $success;
                    border-color: $success;

                    input[type='radio']:checked {
                        border-color: #28a745;
                        background-color: #28a745;
                    }
                }
            }
        }

        .custom-amount-wrapper {
            margin-top: 12px !important;

            .input-group-text {
                font-size: 16px;
            }
        }

        .gateways {
            margin-bottom: 20px !important;
            flex-wrap: wrap;

            .gateway {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                input{
                    position: relative;
                    left: 0;
                    top: 0;
                }
                label {
                    margin: 0;
                }
            }
        }
    }

    .btn {
        font-size: 16px;
        padding: 6px 10px;
    }

    #payment-response {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .smartpay-coupon-form {
        padding-top: 70px !important;
        .smartpay-coupon-form-close {
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }
}

.smartpay-custom-control-label {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2px 0 5px 0;
}
.smartpay-custom-control-label * {
    margin: 2px 0;
}
.smartpay-custom-control-label p {
    font-size: 80%;
}

.smartpay-custom-control-label strong {
    font-size: 85%;
}

.amount {
    border: 1px solid grey;
    min-width: 170px;
    max-width: 300px;
}
