.smartpay-product-shortcode {
	.product {
		&--title {
			display: block;
			margin-bottom: 1rem;
			font-size: 26px;
			font-weight: bold;
			color: #252a2e;
			line-height: 1.2;
		}

		&--description {
			margin-bottom: 10px;
			color: #252a2e;
		}

		&--price-section {
			transition: all 0.3s ease;

			.price {
				cursor: pointer;
				padding: 12px;
				display: block;
				text-decoration: none;
				font-size: 17px;
				box-sizing: border-box;
				border: 1px solid #ddd;
				border-radius: 4px;
				background: #fff;
				overflow: hidden;
				color: #252a2e;
				margin-bottom: 12px;
				transition: all 0.1s ease-in-out;

				label {
					cursor: pointer;
				}

				&--amount {
					display: inline-block;
					background: #eee;
					padding: 6px 10px;
					font-size: 13px;
					font-weight: bold;
					position: relative;
					pointer-events: none;
					transition: all 0.1s ease-in-out;

					.base-price {
						color: #a2a2a2;
						margin-left: 3px;
					}

					&:before,
					&:after {
						content: '';
						height: 0;
						position: absolute;
						width: 0;
						border-color: transparent;
						border-style: solid;
						border-width: 16px;
						left: 100%;
						margin-left: -16px;
						-webkit-transform: scaleX(0.65);
						transform: scaleX(0.65);
						transition: all 0.1s ease-in-out;
					}

					&:before {
						top: 0;
						border-top-color: #eee;

						&:hover {
							border-top-color: #fdce71;
						}
					}

					&:after {
						bottom: 0;
						border-bottom-color: #eee;

						&:hover {
							border-bottom-color: #fdce71;
						}
					}
				}

				&.selected {
					box-shadow: 0 0 0 1px $success;

					.price--amount {
						background: #fdce71;

						.base-price {
							color: #a06b00;
						}

						&:before {
							border-top-color: #fdce71;
						}

						&:after {
							border-bottom-color: #fdce71;
						}
					}
				}

				&--title {
					font-size: 17px;
					margin-top: 10px !important;
					font-weight: 400;
					display: block;
				}

				.variation {
					&--description {
						margin-top: 10px;
						color: #797874;
						font-size: 17px;
					}
				}
			}
		}
	}

	.btn {
		font-size: 16px;
		padding: 6px 10px;
	}
}
