/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Forms + Inputs
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
// Buttons
@import '~bootstrap/scss/buttons';
// Transitions
@import '~bootstrap/scss/transitions';
// Nav
@import '~bootstrap/scss/nav';
// Navbar
@import '~bootstrap/scss/navbar';
// Card
@import '~bootstrap/scss/card';
// Alert
@import '~bootstrap/scss/alert';
// List group
@import '~bootstrap/scss/list-group';
// Utilities
@import '~bootstrap/scss/utilities';

@import '~bootstrap/scss/tables';

@import '~bootstrap/scss/spinners';

// Metabox
@import './metabox';
/*--------------------------------------------------------------
# WP Css fix that override Bootstrap
--------------------------------------------------------------*/
@import './wpoverrides';

.container-full {
    margin: 0;
    margin-left: -20px;
}

.table thead th {
    border-bottom: 0;
}

.table {
    border-spacing: 0;
}

.btn svg {
    margin-bottom: -3px;
}

input::placeholder {
    color: rgb(170, 170, 170) !important;
}

.card {
    margin-top: 0px;
}
