@import '~@wordpress/base-styles/colors';
@import '~@wordpress/base-styles/variables';
@import '~@wordpress/base-styles/mixins';
@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/animations';
@import '~@wordpress/base-styles/z-index';

// Internal
// @import 'components/header/styles';
@import 'components/sidebar/styles';
@import 'components/block-editor/styles';

// In order to use mix-blend-mode, this element needs to have an explicitly set background-color
// We scope it to .wp-toolbar to be wp-admin only, to prevent bleed into other implementations
html.wp-toolbar {
    background: $white;
}

body.block-editor-page {
    @include wp-admin-reset('.block-editor');
}

.smartpay-block-editor {
    min-height: 40vh;
}

.editor-styles-wrapper {
    width: 100%;

    @include break-small {
        // width: calc(100% - #{$sidebar-width});
    }
    // We need the styles scoped to "body" to be added to the
    // div.editor-styles wrapper
    font-family: $editor-html-font;
    font-size: $editor-font-size;
    line-height: $editor-line-height;
    color: $gray-900;

    // Important all other selectors scoped underneath
    // `div.editor-styles-wrapper`
    // @import '~@wordpress/editor/src/style.scss';
    @import '~@wordpress/block-library/build-style/style.css';
}

.smartpay-block-editor,
// The modals are shown outside the .smartpay-block-editor wrapper, they need these styles.
.components-modal__frame {
    @include reset;
}

// New
.smartpay-block-editor {
    .components-popover.block-editor-block-popover.block-editor-block-list__block-popover {
        width: auto;
        .components-popover__content {
            width: 100%;
        }
    }
    .components-popover {
        background-color: #ffffff;

        .block-editor-block-popover.block-editor-block-list__block-popover {
            width: 100%;
            .components-popover__content {
                width: 100%;
            }
        }

        .block-editor-block-list__empty-block-inserter {
            background-color: #f9f9f9; // aliceblue
        }
    }
    .block-editor-block-list__insertion-point {
        background-color: #f9f9f9;
        margin-top: 16px;
    }

    .block-editor-block-toolbar {
        display: flex;
        justify-content: center;
        padding: 4px 0;
        div {
            display: flex;
        }
    }
    .components-toolbar-group {
        border-right: none;
    }

    &-sidebar {
        .block-editor-block-inspector__no-blocks {
            padding: 16px;
            display: block;
        }
        .block-editor-block-card {
            padding: 16px;
        }
        .block-editor-skip-to-selected-block {
            margin: 16px;
        }
    }
}
.smartpay .interface-interface-skeleton {
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0 !important;
    right: 0;

	&__body {
		display: flex;
	}

    &__content {
        width: 70%;
    }
    &__sidebar {
        width: 30%;
        box-shadow: none;
        border: none;
    }
}
