//Card
.card{
	max-width: 100%;
	padding: 0;

	.card-header-tabs{
		margin-top: 0;

		// Nav tabs
		.nav-link{
			text-decoration: none;
			font-weight: bold;
			padding: .7rem 1rem;
			text-transform: uppercase;
		}
	}
}

// Button
.wp-core-ui .button-primary{
	@extend .btn;
}
