//Card
.card{
	max-width: 100%;
	padding: 0;

	.card-header-tabs{
		margin-top: 0;

		// Nav tabs
		.nav-link{
			text-decoration: none;
			font-weight: bold;
			padding: .7rem 1rem;
			text-transform: uppercase;
		}
	}
}

// Custom swtich
.custom-control-label::before{
	height: 15px;
}
// custom checkbox
.custom-checkbox-round{
	position: relative;
	padding-left: 1.5rem;
	width: 100%;

	.custom-control-label{ display: block; }
	.custom-control-label::before{
		width: 22px;
		height: 22px;
		border-radius: 50%;
		top: -2px;
  	left: -34px;
	}
	.custom-control-label::after{
		top: -1px;
  	left: -33px;
		width: 20px;
		height: 20px;
	}
}

